<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Sayfam</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/blog-home.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index/">MVC Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" style="display:inline-block">

                    <li class="nav-item" style="float:left; margin-left : 25px">
                        <a class="nav-link" href="~/Home/Index/">Anasayfa</a>
                    </li>
                    <li class="nav-item" style="float:left; margin-left : 25px">
                        <a class="nav-link" href="~/Home/Hakkimizda/">Hakkımızda</a>
                    </li>
                    <li class="nav-item" style="float:left; margin-left : 25px">
                        <a class="nav-link" href="~/Home/Iletisim/">Iletişim</a>
                    </li>

                    @if (Session["uyeid"] != null)
                    {
                        <li class="nav-item" style="float:left; margin-left : 25px">
                            <a class="nav-link" href="/Uye/Index/@Session["uyeid"]">@Session["kullaniciadi"].ToString()</a>
                        </li>

                        <li class="nav-item" style="float:left; margin-left : 25px">
                            <a class="nav-link nav-logout" href="#" onclick="location.href='@Url.Action("Logout", "Uye")'">Çıkış</a>
                        </li>

                        if (Convert.ToInt32(Session["yetkiid"]) == 1)
                        {

                            <li class="nav-item" style="float:left; margin-left : 25px">
                                <a class="nav-link" href="/Admin/Index/" target="_blank">Admin Paneli</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item" style="float:left; margin-left : 25px">
                            <a class="nav-link" href="/Uye/Login/">Giriş</a>
                        </li>
                        <li class="nav-item" style="float:left; margin-left : 25px">
                            <a class="nav-link" href="/Uye/Create/">Kayıt Ol</a>
                        </li>

                    }
                </ul>

                @*<ul class="nav navbar-right top-nav">

                    @if (Session["uyeid"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>@Session["kullaniciadi"].ToString()<b class="fa-caret-down"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/Uye/Index/@Session["uyeid"]">@Session["kullaniciadi"].ToString()<i class="fa fa-fa fa-user"></i>Profil</a>
                                </li>

                                <li>
                                    <a></a>
                                </li>
                                @if (Convert.ToInt32(Session["yetkiid"]) == 1)
                                {
                                    <li>
                                        <a href="/Admin/index/" target="_blank"><i class="fa fa-fa fa-gear"></i> Admin Paneli</a>
                                    </li>
                                }
                                    <li class="divider"></li>
                                <li>
                                    <a href="/Uye/Logout/"><i class="fa fa-fa fa-power-off"></i> Çıkış</a>
                                </li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Uye/Login/"> Giriş</a>
                        </li>
                        <li>
                            <a href="/Uye/Create/"> Kayıt Ol</a>
                        </li>
                    }
                    </ul>*@

            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                @RenderBody()
            </div>


            <!-- First Blog Post -->
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    @Html.Partial("BlogAraPartial")
                </div>
                <!-- Kategoriler -->
                <div class="card my-4">

                    <div>
                        @{
                            Html.RenderAction("KategoriPartial", "Home");
                        }
                    </div>
                </div>
                <!-- En çok okunan -->
                <div class="card my-4">
                    @{
                        Html.RenderAction("TopMakaleler", "Home");
                    }

                </div>

                <!-- Son Yorumlar -->
                <div class="card my-4">
                    @{
                        Html.RenderAction("SonYorumlar", "Home");
                    }

                </div>
            </div>
            <!-- Side Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>*@
        </div>
    </div>
    <!-- /.row -->
    @*</div>*@
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
